In [2]:
import pandas as pd 
import numpy as np

In [24]:
mesure = pd.read_csv('../data/donnees_mesures_PM2_5.csv',sep=';')

In [28]:
type(env['Date'][1])

str

In [29]:
env['Date'][1]

'01/01/2023 00:15'

In [30]:
test = float(env['c1'][1])

ValueError: could not convert string to float: '4,439'

In [ ]:
# Fonction pour convertir la chaîne en nombre flottant
def convertir_en_float(chaine):
    return float(chaine.replace(',', '.'))

# Applique la fonction à la colonne du DataFrame
df['colonne'] = df['colonne'].apply(convertir_en_float)

# Affiche le DataFrame mis à jour
print(df)